{% extends "market/base.html" %}

{% block content %}

{% if perms.market.add_product %}
  Click <a href="{% url 'create_product' %}">here</a> to create a new product
{% endif %}

<h2>These are the products we have:</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

  {% for product in products %}
  {% if product.category == "Melee" and product.available == True %}
  <div class="col mb-4">

    <div class="card text-center" style="width: 18rem;">

      {% if product.cover %}
        <img src="{{ product.cover}}" width="300" height=auto class="card-img-top">
      {% else %}
        <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300" height=auto class="card-img-top">
      {% endif %}

  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'detail_product' product.id %}"> {{product.name}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted"> {{product.category | default:"No category"}} </h6>
    <h5 style="font-family: monospace; font-weight:700;">{{ product.price }}€</h5>
    <button data-product={{ product.id }} data-action="add" class="btn btn-success add-btn update-cart">Add To Cart</button>

  </div>
</div>
  </div>
  {% endif %}
  {% endfor %}


</div>

Click <a href="{% url 'market' %}">here</a> to see all products

{% endblock %}