body {
    background: white;
}

.sidebar {
    background: black;
    text-align: center;
    padding-bottom: 50px;
}

.chg-quantity {
    height: 25px;
    width: 25px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;