{% extends "market/base.html" %}
{% block content %}
{% if product.cover %}
    <p> <img src="{{ product.cover}}" width="300" height=auto></p>
{% endif %}
<p>Name: {{product.name}}</p>
<p>Description: {{product.details}}</p>
<p>Price: {{product.price}} </p>
<button type="button" class="btn btn-primary"><i class="bi bi-plus"></i> Add to cart</button>


<hr>

{% if perms.market.change_product %}
    <p>Click <a href="{% url 'update_product' product.id %}">here</a> to update this product</p>
{% endif %}
{% if perms.market.delete_product %}
    <p>Click <a href="{% url 'delete_product' product.id %}">here</a> to delete this product</p>
{% endif %}
{% endblock %}
